<header>
    <div>
        <p><strong>Welcome to LTI</strong></p>
    </div>
    <div>
        <nav>
            <table>
                <tr>
                    <td>
                        <a routerLink="Home"> Home </a>
                    </td>
                    <td>
                        <a routerLink="Register"> Register </a>
                    </td>
                    <td>
                        <a routerLink="Login"> Login</a> 
                    </td>
                </tr>
            </table>
            <img src="../../assets/images/lti.jpg" alt="" height="40px">
        </nav>
    </div>
</header>
