<section>
        <div>
            <p>
                LTI (NSE: LTI) is global technology consulting and digital solutions company helping more than 420 clients succeed in 32 countries. We go extra mile for our clients and accelerate their digital transformation with LTI's Mosaic platform enabaling their
                mobile, social, analytics, IoT and journeys.
            </p>
            <p>
                Founded 20 years ago as the information technology arm of the Larsen & Toubro group, our unique heritage gives us unrivaled real-world expertise to solve the most complex challenges of enterprises across all industries.
            </p>
            <p>
                Each day, our team of more than 30,000 LTites enable our clients to improve the effectiveness of their business and technology operations and deliver value to their customers, employees and shareholders.
            </p>
        </div>
    </section>

    <article>
        <div>
            <p><strong>Our Beliefs </strong></p>


        </div>
        <div class="vision-box">
            <table>
                <tr>
                    <td><img src="../../assets/images/extra-mile-237x300.png" height="150px"></td>

                    <td><img src="../../assets/images/Be-agile-237x300.png" height="150px"></td>
                    <td></td>
                    <td><img src="../../assets/images/push-frontiers-of-innovation-237x300_robo.jpg" height="150px"></td>
                    <td><img src="../../assets/images/keep-learning-237x300.png" height="150px"></td>
                    <td><img src="../../assets/images/solve-for-society-237x300_new-237x300.png" height="150px"></td>
                </tr>
                <tr>
                    <td> Go the Extra Mile </td>
                    <td> Be Agile </td>
                    <td></td>
                    <td> Push Frontiers of Innovation </td>
                    <td> Keep Learning </td>
                    <td> Solve For Society </td>
                </tr>
            </table>
        </div>

    </article>
